$green: #238636;
$red: #a3282e;

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.title {
    &-24 {
        font-size: 2.4rem;
    }
    &--bold {
        font-weight: 600;
    }
}

.width {
    &--full {
        width: 100%;
    }
}

.p {
    &--green {
        color: $green;
    }
    &--red {
        color: $red;
    }
}

.hovering {
    &:hover {
        cursor: pointer;
    }
}

.flex {
    &-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    display: flex;
    &-align {
        &-start {
            align-items: flex-start;
        }

        &-center {
            align-items: center;
        }

        &-end {
            align-items: flex-end;
        }
    }
    &-jusfy {
        &-start {
            justify-content: flex-start;
        }

        &-center {
            justify-content: center;
        }

        &-between {
            justify-content: space-between;
        }

        &-end {
            justify-content: flex-end;
        }
    }
}

.pa {
    &-5 {
        padding: .5rem;
    }

    &-10 {
        padding: 1rem;
    }

    &-15 {
        padding: 1.5rem;
    }

    &-20 {
        padding: 2rem;
    }

    &-25 {
        padding: 2.5rem;
    }

    &-30 {
        padding: 3rem;
    }
}

.pb {
    &-5 {
        padding-bottom: .5rem;
    }

    &-10 {
        padding-bottom: 1rem;
    }

    &-15 {
        padding-bottom: 1.5rem;
    }

    &-20 {
        padding-bottom: 2rem;
    }

    &-25 {
        padding-bottom: 2.5rem;
    }

    &-30 {
        padding-bottom: 3rem;
    }
}

.pl {
    &-5 {
        padding-left: .5rem;
    }

    &-10 {
        padding-left: 1rem;
    }

    &-15 {
        padding-left: 1.5rem;
    }

    &-20 {
        padding-left: 2rem;
    }

    &-25 {
        padding-left: 2.5rem;
    }

    &-30 {
        padding-left: 3rem;
    }
}

.pr {
    &-5 {
        padding-right: .5rem;
    }

    &-10 {
        padding-right: 1rem;
    }

    &-15 {
        padding-right: 1.5rem;
    }

    &-20 {
        padding-right: 2rem;
    }

    &-25 {
        padding-right: 2.5rem;
    }

    &-30 {
        padding-right: 3rem;
    }
}

.pt {
    &-5 {
        padding-top: .5rem;
    }

    &-10 {
        padding-top: 1rem;
    }

    &-15 {
        padding-top: 1.5rem;
    }

    &-20 {
        padding-top: 2rem;
    }

    &-25 {
        padding-top: 2.5rem;
    }

    &-30 {
        padding-top: 3rem;
    }
}

.ma {
    &-5 {
        margin: .5rem;
    }

    &-10 {
        margin: 1rem;
    }

    &-15 {
        margin: 1.5rem;
    }

    &-20 {
        margin: 2rem;
    }

    &-25 {
        margin: 2.5rem;
    }

    &-30 {
        margin: 3rem;
    }
}

.mb {
    &-5 {
        margin-bottom: .5rem;
    }

    &-10 {
        margin-bottom: 1rem;
    }

    &-15 {
        margin-bottom: 1.5rem;
    }

    &-20 {
        margin-bottom: 2rem;
    }

    &-25 {
        margin-bottom: 2.5rem;
    }

    &-30 {
        margin-bottom: 3rem;
    }
}

.ml {
    &-5 {
        margin-left: .5rem;
    }

    &-10 {
        margin-left: 1rem;
    }

    &-15 {
        margin-left: 1.5rem;
    }

    &-20 {
        margin-left: 2rem;
    }

    &-25 {
        margin-left: 2.5rem;
    }

    &-30 {
        margin-left: 3rem;
    }
}

.mr {
    &-5 {
        margin-right: .5rem;
    }

    &-10 {
        margin-right: 1rem;
    }

    &-15 {
        margin-right: 1.5rem;
    }

    &-20 {
        margin-right: 2rem;
    }

    &-25 {
        margin-right: 2.5rem;
    }

    &-30 {
        margin-right: 3rem;
    }
}

.mt {
    &-5 {
        margin-top: .5rem;
    }

    &-10 {
        margin-top: 1rem;
    }

    &-15 {
        margin-top: 1.5rem;
    }

    &-20 {
        margin-top: 2rem;
    }

    &-25 {
        margin-top: 2.5rem;
    }

    &-30 {
        margin-top: 3rem;
    }
}